* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0.4rem;
}

.custom-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

.react .ql-editor {
  height: 200px !important;
}

.quill.react-quill {
  overflow: visible;
}

.ql-toolbar.ql-snow {
  position: sticky;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 100;
}

.content.ql-editor {
  padding: 0 !important;
}

.ql-snow .ql-editor pre.ql-syntax {
  padding: 24px !important;
  margin: 4px 0 !important;
  border-radius: 10px !important;
  background: #151f28 !important;
  line-height: 1.8 !important;
  white-space: pre !important;
  overflow: auto !important;
  font-size: 18px !important;
}

@media (max-width: 1280px) {
  .ql-snow .ql-editor pre.ql-syntax {
    font-size: 14px !important;
  }
}

.ql-snow .ql-editor h2,
.ql-snow .ql-editor h2 strong,
.ql-snow .ql-editor h2 span,
.ql-snow .ql-editor h3,
.ql-snow .ql-editor h3 strong,
.ql-snow .ql-editor h3 span {
  font-size: 20px !important;
  font-weight: 600 !important;
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1280px) {
  .ql-snow .ql-editor h2,
  .ql-snow .ql-editor h2 strong,
  .ql-snow .ql-editor h2 span,
  .ql-snow .ql-editor h3,
  .ql-snow .ql-editor h3 strong,
  .ql-snow .ql-editor h3 span {
    font-size: 18px !important;
  }
}

html[data-theme='dark'] .ql-snow .ql-editor h2 strong,
html[data-theme='dark'] .ql-snow .ql-editor h2 span,
html[data-theme='dark'] .ql-snow .ql-editor p,
html[data-theme='dark'] .ql-snow .ql-editor p span,
html[data-theme='dark'] .ql-snow .ql-editor h2 strong,
html[data-theme='dark'] .ql-snow .ql-editor h2,
html[data-theme='dark'] .ql-snow .ql-editor h3,
html[data-theme='dark'] .ql-snow .ql-editor h3 strong,
html[data-theme='dark'] .ql-snow .ql-editor h3 span {
  color: #c0c5d0 !important;
}

html[data-theme='light'] .ql-editor p span {
  line-height: 30px !important;
  color: rgb(0, 0, 0) !important;
}

.ql-syntax::-webkit-scrollbar {
  width: 10px !important;
  height: 7px;
}

.ql-syntax::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px transparent;
  -webkit-box-shadow: inset 0 0 6px transparent;
}

.ql-syntax::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}

.ql-editor li:not(.ql-direction-rtl)::before {
  color: #7b00d3 !important;
}

.ql-snow .ql-editor blockquote {
  background: rgba(123, 0, 211, 0.2);
  padding: 30px 20px;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 4px solid rgb(123, 0, 211) !important;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
}

.ql-editor ol,
.ql-editor ul {
  padding-left: 17px !important;
}

@media (max-width: 768px) {
  .ql-editor ol,
  .ql-editor ul {
    padding-left: 10px !important;
  }
}

.page-link {
  background: white;
  border: 1px solid red;
  padding: 20px;
}
